/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* page's wrapper */
.wrapper {
    max-width: 820px;
    width: 90%;
    margin: auto;
    padding: 10px;
}

/* header */
header {
    background-color: mediumorchid;
    height: 60px;
}

/* main rows */
.main_row {
    height: 300px;
    margin: 10px 0;
}
.main_row.first{
    background-color: gold;
}
.main_row.second{
    background-color: blue;
}

/* sub rows */
.main_row .sub_row {
    margin-bottom: 2%;
}
.main_row .sub_row.first {
    background-color: cornflowerblue;
    height: 10%;
}
.main_row .sub_row.second {
    height: 82%;
}

/* sub row's columns */
.main_row .sub_row.second .col{
    height: 100%;
    float: left;
    background-color: cornflowerblue;
}
.col.left {
    margin-right: 2.5%;
    width: 25%;
}   
.col.center {
    width: 45%;
}
.col.right {
    margin-left: 2.5%;
    width: 25%;
} 

/* footer */
footer {
    background-color:mediumslateblue;
    height: 30px;
}