* {
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.wrapper > *{
    width: 80%;
    margin: auto;
}
header {
    height: 20vh;
    background-color: fuchsia;
}
main .first{
    height: 35vh;
    background-color: gold;
    margin-bottom: 10px;
}
main .second {
    background-color: #0000ff;
    height: 35vh;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;

}
main .second .primo{
    background-color: #add8e6;
    height: 10vh;
}
main .second .secondo > *{
    background-color: lightblue;
    height: 60vh;
    width: 32.65%;
    float: left;
}
footer {
    background-color: mediumslateblue;
    height: 10vh;
}
.primero {
    margin-right: 1%;
}
.tercero {
    margin-left: 1%;
}